.picture{
    position:absolute;
    right: 20%;
    z-index: 9;
} 
.picture2 {
    z-index: 9;
}



.picture3 {
    z-index: 9;
    position: fixed;
    filter: blur(1px);
    padding-right: 40%;
}



.title {
    position: absolute;
    bottom: 24%;
    left: 7%;
    max-width: 420px;
    font-family: 'Sarpanch', sans-serif;
    font-size: 4rem;
    line-height: 3.4rem;
    font-weight: 800;
    z-index: 900;
    color: #fff;
    opacity: 1;
}

.description {
    width: 100%;
    padding-top: 7%;
    font-family: 'Saira', sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    color: #fffa;
    letter-spacing: 0.04;
}

.paragraph {
    width: 100%;
    max-width: 50rem;
    font-family: 'Saira', sans-serif;
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 250;
    color: #fffb;
    z-index: 900;
    
}

.packages {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
      
}

.goto {
    opacity: 1;
    transition: 1s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #B7FE04;
    animation: blink 1.4s step-end infinite;
}

.goto:hover {
    opacity: 1;
}

.countdown {
    font-family: 'Sarpanch', sans-serif;
    font-size: 10rem;
    line-height: 3.4rem;
    font-weight: 500;
    z-index: 900;
    color: #FFF;
    opacity: 1;
    text-align: center;
    min-width: 600px;
    
}

.countdownPromotion {
    width: 100%;
    max-width: 800px;
    padding: 1.5rem 0rem;
    line-height: 2rem;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: 500;
    color: #B7FE04;
    text-align: center;
}

.countdownWrap {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: row;
    align-items:last baseline;
}

.countdownButton{
    font-size: 1.5rem;
    max-width: 5rem;
    height: 3.5rem;
    margin: 0rem 0.5rem;
    font-weight: 700;
    background-color: #FFF;
    color: #222;
    padding-top: 0.5rem;
}

.countdownButton:hover{
    background-color: #B7FE04;
    color: #222;
    padding: 10px 25px;
    padding-top: 0.5rem;
}

.emailFrame {
    z-index:999;
    transition: 1s ease;
    width: 80%;
    height: 80vh;
    top: 10vh;
    left: 10%;
    border: #fff2 solid 1px;
    position: absolute;
    border-radius: 2rem;
    background-color: #000;
    overflow: hidden;
}

.stopwatch {
    font-family: 'Sarpanch', sans-serif;
    font-size: 6rem;
    margin: 0rem;
}

@media only screen and (max-width: 500px) {
    .picture {
        position: absolute;
        left: 40%;
        bottom: 40%;
        scale: 3;
    }

    .title {
        font-size: 3.5rem;
        line-height: 3.2rem;
        font-weight: 800;
        opacity: 0.9;
        bottom: 15%;
    }

    .description {
        width: 80%;
    }

    .packages {
        flex-direction: column;

    }
    .picture3 {
        filter: blur(1px);
        padding-right: 12%;
    }
    .packages {
        align-items: center;
    }

    .paragraph {
        padding: 2rem;
        font-size: 1.7rem;
        line-height: 2.1rem;
    }

    .social {
        left: calc(3.5rem + 44px);

    }

    .countdown {
        font-size: 4rem;
        min-width: none;
        padding: 1rem;
    }

    .countdownPromotion {
        padding: 0.5rem;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 500;
        color: #B7FE04;
        padding-bottom: 1rem;

    }

    .countdownWrap {
        flex-direction:column;

        
    }

    .countdownButton{
        margin: 0rem 5%;
        width: 90%;
        max-width: none;
    }

    .emailFrame {
        width: 90%;
        left: 5%;
    }

    .stopwatch {
        font-size: 4rem;
    }

}