.container {
    width: 20rem;
    font-family: 'Saira', sans-serif;
    
}

@media only screen and (max-width: 500px) {

    .container {
        width: 100vw;
        height: 100vh;
        
    }

}