
.counter {
  padding: 0px 10px;
  color: #fff4;
  font-size: 2rem;
  transition: 1s ease;
}

.counter:hover {
  color: #fff;
  font-size: 2rem;
  transition: 1s ease;
}

.gradientText {
  background: linear-gradient(to right, #66FA75, #2CDAED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Additional vendor prefixes for better compatibility */
  background-clip: text;
  text-fill-color: transparent;
}