@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


:root {
  --foreground-rgb: 214, 219, 220;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 25, 25, 25;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #444;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullFrame {
  float: left;
  width: 100vw;
  height: 100vh;
  overflow: clip;
}

.noSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}

.text {
  font-family: 'Saira', sans-serif;
  font-size: 1.2rem;
  transition: 1s ease;
}

.control {
  position: fixed;
  right: 5rem;
  display: flex;
  flex-direction: row;
  rotate: 90deg;
}


.box {
  background-color: #28282866;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: #66666650 solid 1px;
  border-radius: 12px;
}

p {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: 'Saira', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #DFDFDFCD;
  margin: 1rem;
  max-width:300px;
  text-align: center;
}

button.calltoAction {
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 16px;
  background-color: #fff;
  font-weight: 400;
  color: #222;
}

button.calltoAction:hover {
  margin-top: 5px;
  padding: 13px 24px;
  border-radius: 16px;
  background-color: #B7FE04;
  color: #222;
  border: #555 solid 3px;
}

button {
  background-color: #66666650;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: #66666650 solid 1px;
  border-radius: 12px;
  padding: 10px 25px;
  transition: 1s ease;
  min-width:auto;
}

button:hover {
  background-color: #fff2;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: #fff8 solid 1px;
  border-radius: 12px;
  padding: 10px 25px;
}




textarea {
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #0000;
  border: #66666650 solid 0px;
  border-radius: 8px;
  padding: 9px 10px;
  transition: 1s ease;
  color: #DFDFDF;
}

textarea::placeholder{
  color: #0000;
}

textarea:focus::placeholder {
  color: #DFDFDF60;
  background-color: #0000;
  text-align: center;
}

textarea:focus {
  background-color: #0000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 1.2rem;
  transition: 1s ease;
}

input {
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #0000;
  border: #66666650 solid 0px;
  border-radius: 12px;
  padding: 9px 20px;
  transition: 1s ease;
  color: #DFDFDF;
}

input:focus {
  background-color: #0000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 11px 20px;
  font-size: 1.2rem;
  transition: 1s ease;
}

input.verifyed:focus {
  background-color: #0000;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 11px 20px;
  font-size: 1.2rem;
  transition: 1s ease;
  color: #DFDFDF;
}

input::placeholder {
  color: #DFDFDF00;
  opacity: 1; /* Firefox */
  font-size: 1.4rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: #DFDFDF70;
  text-align: center;
  opacity: 1; /* Firefox */
  font-size: 1.4rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-size: 1.2rem;
}

input::-ms-input-placeholder { /* Edge 12 -18 */
  text-align: right;
  color: #DFDFDF60;
  font-size: 1.4rem;
  border-bottom: #66666650 solid 1px;

}


.icons {
  opacity: 1;
  transition: 1s ease;
}

.icons:hover {
  opacity: 1;
}

.headerLandscape {
  margin: 2rem;
  font-family: 'Saira', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  z-index: 999;
}

.headerVertical {
  display: none;
}

.sectionbutton{
  color: #fff;
  transition: 1s ease;
}
.sectionbutton:hover {
  color: #B7FE04;
  transition: 1s ease;
}

.hideingRound{
  position: absolute;
  top: 0;
  z-index: 910;
  background: radial-gradient(circle at 90%, #000, #0000 50%);
  height: 100%;
  width: 20rem;
}

::selection {
  color: #B7FE04;    
  background-color: #000;
}


@media only screen and (max-width: 500px) {

  .headerLandscape {
    display: none;
  }

  .headerVertical {
    position: sticky;
    margin: 1.5vh;
    font-family: 'Saira', sans-serif;
    font-size: 1.9rem;
    display: flex;
    justify-content: start;
    color: #fff;
  }

  .headerMenu {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: #0008;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 16% 0px;
    row-gap: 20px;
    font-family: 'Saira', sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 990;
  }
  
  .control {
    position: fixed;
    bottom: 5rem;
    right: 0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    rotate: 0deg;
  }

  .hideingRound{
    display: none;
  }

}