
.display {
    background-color: #161414;
    width: 100%;
    height: 6.6rem;
    color: #ffffff;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    margin-bottom: 3rem;
}

.displayLabel {
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 1.8rem;
    left: 2rem;
}

.displayNumber{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;

}

.displayUnit{
    color: #fff8;
    font-size: 1rem;
    position: absolute;
    top: 3.7rem;
    right: 2.1rem;

}

.pickContainer {
    width: 100%;
    margin: 0;
    padding: 0%;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.pickLabel {
    color: #DFDFDF80;
    font-size: 1.2em;
    font-weight: 400;
    padding-right: 9px;
    vertical-align: baseline;

}

.pickNumber {
    color: #DFDFDF;
    font-size: 1.8em;
    font-weight: 400;
    vertical-align: baseline;

}

.pickUnit {
    color: #DFDFDF80;
    font-size: 1.2em;
    font-weight: 500;
    vertical-align: baseline;

}

.pickSign {
    color: #ffffff88;
    padding: 0px 2%;
    font-size: 2.2em;
    font-weight: 300;
    vertical-align: baseline;
    transition: 1.5s ease;
}

.pickSign:hover {
    color: #fffb;
    transition: 1.5s ease;
}

input.pickNumber {
    color: #DFDFDF;
    font-size: 1.8em;
    font-weight: 400;
    vertical-align: baseline;
    max-width: 120px;
    text-align: center;
    padding: 0px;
    margin: 0px 2px;
    text-align: center;
    display: inline;
}

input.pickNumber:hover {
    color: #fff;


    
}



.container {
    width: 21rem;
    font-family: 'Saira', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;

}

.CalculatorTop {
    text-align: center;
    width: 100%;
    position: relative;
    top:-4rem;
}

.CalculatorText {
    padding: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    
}

.select {
    color: #DFDFDF88;
    font-size: 1.25em;
    line-height: 1.66rem;
    padding: 0.7rem 0px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

}

.select:hover {
    color: #FFFc;
    transition: 1s ease;
}

.askTextExample {
    top: 0;
    left: 0;
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.8rem;
    transition: 1s ease;
    z-index: 0;
    color: #DFDFDF80;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.askTextCaret {
    display: inline-block;
    width: 1.3px;
    height: 1.5rem;
    background-color: #fff;
    position: absolute;
    top:1rem;
    left:5%;
    animation: blink 1.4s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.TextEnterContainer {
    position: relative; 
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;

}

.stopwatch {
    font-family: 'Saira', sans-serif;
    font-size: 1.3rem;
    padding-top: 2rem;
}

@media only screen and (max-width: 500px) {

    .container {
        width: 100vw;
        min-height: 100vh;
        gap: 0rem;
        padding: 0rem 1rem 5rem 1rem;

    }

    .CalculatorTop {
        position: absolute;
        top: 0rem;
    }

    .CalculatorText {
        padding: 3rem 2.3rem;
    }

    .TextEnterContainer{
        width: 90%;
        margin: 5%;
    }

}